body {
    width                : 100%;
    background-image     : url("Homepage background.svg");
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}


p {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h1 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h2 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h3 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h4 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;}