body {
    width                : 100%;
    background-image     : url("Homepage background.svg");
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}


p {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h1 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h2 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h3 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;
}

h4 {
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    letter-spacing: 0.15em;
    font-weight   : 100;
    line-height   : 1.25em;}









    .QRazy {
        width     : 500px;
        height    : 500px;
        margin    : auto;
        margin-top: 10em;
    
        background-image : url("Polygon Black.svg");
        background-repeat: no-repeat;
        background-size  : 100%;
    }
    
    .QRazy-h1 {
        font-size  : 1.2em;
        color      : white;
        text-align : center;
        margin     : auto;
        padding-top: 5em;
    }

    
    #QRazy-h3 {
        font-size    : 0.8em;
        margin-bottom: 2.5em;
        color        : white;
        text-align   : center;
    }

    .moreabout-border-wrap {

        margin       : auto;
        margin-bottom: 10em;
        position     : relative;
        background   : linear-gradient(to right, rgb(0, 38, 255), rgb(255, 185, 255));
        width        : 8.3em;
    }
    
    
    .moreabout {
        color  : white;
        padding: 0.1em;
    }
    
    #moreabout-b {
        background-color: rgb(0, 4, 71);
        color           : rgb(0, 38, 255);
        border-width    : 0.25em;
        border-color    : black;
        border-style    : none;
        font-size       : 1em;
        font-family     : 'Trebuchet MS',
            'Lucida Sans Unicode',
            'Lucida Grande',
            'Lucida Sans',
            Arial,
            sans-serif;
        font-weight : bold;
        display     : block;
        margin-left : auto;
        margin-right: auto;
        line-height : 2em;
    }
    
    #moreabout-b:hover {
        /*background-color: rgb(255, 4, 71);*/
        background-color: transparent;
        color           : rgb(0, 0, 0);}

    .gallery {margin-top: 10%;}